fastapi
uvicorn[standard]
pydantic
python-dotenv
openai

# TTS
edge-tts
pygame

# Voice / ASR
numpy==2.2.6
pvporcupine
faster-whisper
pyaudio

# Xunfei SDK used by test scripts
xfyunsdkspeech

#memeory
langchain 
langchain-community
pysqlite3